.body{
    margin-top: 40px;
}

.title{
    color: black !important;
    border-bottom: 5px solid;
    border-image: linear-gradient(to right, #1D2B4F 80%, transparent 50%) 100% 1;
    display: inline;
    padding-bottom: 5px;
}