.body{
    background-color: white;
    margin-top: 20px;
}

.body table{
    width: 100%;
    border-radius: 10px;
    background-color: #8CA4C5;
}

.table th{
    padding: 13px 10px;
}

.body tbody{
    background-color: white;
    /* text-align: center; */
}
.body td{
    padding: 10px 0;
    text-align: center;
}

.body tbody tr:hover{
    background-color: #f1efef;
}

.body tbody tr{
    font-weight: 500;
}
