.navbar {
  height: 60px;
  background-color: #EFF2FC;
  justify-content: space-between;
  border-bottom: 4px rgba(214, 207, 207, 0.4) solid;
  /* position: fixed;
  width: 100%;
  z-index: 100; */
}

.navbar p {
  margin: 0;
}

.active {
  color: rgb(4, 4, 255) !important;
}

.logo {
  max-height: 90px;
}

.navbar ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0 20px 0 40px;
}

.flex {
  display: flex;
}

.revFlex {
  display: flex;
  flex-direction: column;
}

.navbar li a {
  display: flex;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: 500;
}

.navbar li a:hover {
  color: rgba(8, 8, 218, 0.699);
}

.btn {
  border: #00000079 2px solid;
  border-radius: 10px;
}

.btn a {
  font-weight: 400 !important;
}

.btn:hover {
  background-color: rgba(128, 128, 128, 0.11);
}

.btn a:hover {
  color: rgba(8, 8, 218, 0.856) !important;
}

.mobIcon {
  display: none;
}

.profile {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 15px;
  border: 2px black solid;
}

.profileBar {
  display: none;
  background-color: white;
  box-shadow: 3px 4px 8px 4px rgba(0, 0, 0, 0.4), -15px 10px 10px rgba(0, 0, 0, 0.19);
  position: absolute;
  z-index: 10;
  top: 50px;
  right: 7px;
  padding: 2px 10px 10px 12px;
  width: 220px;
}

.personal {
  align-items: center;
  padding-top: 7px;
}

.personal img {
  margin-left: 5px;
}

.personal ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-left: 10px;
  align-items: flex-start;
}

.icons {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 3px;
  padding-left: 8px;
}

.proBtn {
  display: flex;
  gap: 7px;
  padding: 0 !important;
  font-weight: 400 !important;
  width: 100%;
}

.icons i {
  background-color: rgb(4, 4, 85);
  font-size: 10px;
  color: white;
  padding: 1px 5px;
  border-radius: 50%;
  width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
}

.sep {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-top: 2px solid rgb(4, 4, 85);
  margin-top: 7px;
  padding-top: 7px;
}

.icons p a {
  padding: 0;
  font-weight: 400;
}

.email {
  font-size: 14px;
  margin-bottom: 5px;
}

.mobMenu {
  display: none;
  position: absolute;
  z-index: 10;
  width: 170px;
  top: 55px;
  right: 2px;
  background-color: white;
  border: 1px rgba(128, 128, 128, 0.445) solid;
  box-shadow: 3px 4px 8px 4px rgba(0, 0, 0, 0.4), -15px 10px 10px rgba(0, 0, 0, 0.19);
  border-top: 0px;
}

.blk {
  display: block;
}

@media (max-width:400px) {
  .mobIcon {
    display: flex;
    align-items: center;
  }

  .mobIcon i {
    font-size: 29px;
    padding-left: 20px;
  }

  .mobMenu li a:hover {
    background-color: rgba(183, 183, 230, 0.54);
  }

  .change {
    display: none;
  }

  .navbar ul {
    padding: 0 15px;
  }
}